@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    overflow: hidden;
    font-size: 1.2em;
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

#fps-counter {
    position: absolute;
    left: 1.5em;
    top: 1em;
    background-color: #3337;
    backdrop-filter: blur(2px);
    padding: 0.3em 0.5em;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}
