@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    overflow: hidden;
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    color: white;
}

.panel {
    position: absolute;
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 0.5em;

    transition-property: opacity, display, overlay;
    transition-duration: 0.25s;
    transition-behavior: allow-discrete;
}

.panel p {
    margin: 0;
}

.left-panel {
    left: 1.5em;
    top: 1em;
    align-items: flex-start;
}

.right-panel {
    right: 1.5em;
    top: 1em;
    align-items: flex-end;
}

.panel-item {
    background-color: #3337;
    backdrop-filter: blur(2px);
    padding: 0.3em 0.5em;
    border: 1px solid black;
    border-radius: 3px;
    user-select: none;
}

.bottom-panel {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
}

.panel-button {
    cursor: pointer;
}

.panel-hidden {
    opacity: 0;
    display: none;
}

#gl-canvas {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

@starting-style {
    .panel:not(.panel-hidden) {
        opacity: 0;
    }

    #gl-canvas {
        opacity: 0;
    }
}
